<div class="container-fluid custom-modal-container">
  <form class="formly" role="form" novalidate [formGroup]="form" (ngSubmit)="saveForm(_rfcDetails.values)">
  <div class="custom-modal-header">
    <h4 class="page-title"> Nuevo Cliente RFC</h4>
  </div>


  <div class="row">
    <div class="col-md-12">
      
        <formly-form [model]="_rfcDetails.values" [fields]="userFields">
          
        </formly-form>
     
      {{_rfcDetails | json}}
    </div>
  </div>

  <div class="row">

    <div class="col-md-12 text-right">
       <button type="submit" class="btn btn-warning btn-lg">Guardar</button>
      <a (click)="closeDialog()" class="btn btn-lg btn-default">Cancelar</a>
    </div>

  </div>
 </form>
</div>