<div class="container-full">
    <div class="page-container">
        <div class="container container-sm">
            <div class="panel">
                <div class="panel-body p-lg">

                    <div class="row">
                        <div class="col-md-12 text-center">
                            <br>
                            <div class="text-center">
                                <img src="assets/img/quo-logo.png" />
                            </div>
                            <br>

                            <h4>¡Gracias por crear tu cuenta en <br>QUO Contabilita!</h4>
                            <h5>¡Estas a un solo paso de tener acceso a tu sistema contabilidad!</h5>

                            <a class="btn btn-block btn-warning btn-lg">ACTIVAR CUENTA DE CORREO</a>
                            <br>
                            <p>SI TIENES ALGUNA DUDA O NECESITAS AYUDA, CONTÁCTANOS EN:
CONTACTO@QUOCONTABILITA.COM (01 800) 123 1234</p>

                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>
</div>